@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Raleway, Calibri, Arial, serif;
  background: var(--p-stone-100);
  color: var(--p-stone-800)
}

.header {
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--p-stone-300);
  box-shadow: 4px 4px 10px var(--p-stone-200);
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
}

.content-container {
  width: calc(100% - 40px);
  height: calc(100vh - 4rem - 80px);
  background-color: var(--p-stone-300);
  box-shadow: 4px 4px 15px var(--p-stone-200);
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  overflow-y: auto;
  scrollbar-color: var(--p-cyan-500) transparent;
}

.content-container::-webkit-scrollbar-thumb {
  border-radius: 90px;
}

.p-button-label {
  color: var(--p-stone-800) !important
}